html,body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: $background;
  font-family: $font2;
}
h1 {
  color: white;
  font-size: 60px;
  font-family: $font2;
  font-weight: normal;
  margin-bottom: 15px;
  overflow: hidden;
  height: 90px;
  span {
    transform: translate3d(0,65px,0);
    display: block;
  }
  &.debug {
    margin-left: 25px;
    font-family: inherit;
  }
}

.transition-panel {
  width: 100%;
  height: 100vh;
  background-color: lighten($background,2%);
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: left;
  transform: translate3d(100%,0,0);
  position: absolute;
  left:0;
  top: 0;
  z-index: 2;
  svg {
    $size: 340px;
    height: $size;
    width: $size;
    fill: white;
    position: static;
  }
}

video,iframe {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-filter: grayscale(1) brightness(0.45) contrast(1.05);
  filter: grayscale(1) brightness(0.45) contrast(1.05);
  transform: scaleX(1.2);
  &.outro {
    -webkit-filter:none;
    filter: none;
    z-index: 100;
    transform: translate3d(100%,0,0);
    transition: transform .25s $easeOutQuart,opacity .25s $easeOutQuart;
  }
  &.outro.reveal {
    display: block;
    opacity: 1;
    speak: normal;
    pointer-events: inherit;
    z-index: 100;
  }
}
@keyframes reveal {
  from {
    opacity: 0;
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button {
  padding: 10px 60px;
  margin-top: 10px;
  border: 2px solid white;
  color: white;
  transform: skew(-20deg);
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  transition: color .25s $easeOutQuart;
  &::after {
    content:'';
    position: absolute;
    text-transform: uppercase;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    opacity: 0;
    background-color: #fff;
    font-weight: bold;
    font-size: 18px;
    z-index: -1;
    transform: scale3d(0,1,1);
    transition: opacity .25s $easeOutQuart,
    transform .2s $easeOutQuart;
  }
  &:hover:after {
    opacity: 1;
    transform: scale3d(1,1,1);
  }
  &:hover {
    color: $background;
  }
}
canvas {
  position: absolute;
  left: 0;
  top: 0;
}
.canvas-list {
  transform: translate3d(100%,0,0);
  position: absolute;
  left: 0;
  top:0;
  width: calc(100% + 300px);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.presentation {
  width: 350px;
  margin-right: 300px;
  color: white;
  z-index: 25;
  position: relative;
  p,div {
    opacity: 0;
    transform: translate3d(25px,0,0);
  }
  .button {
    transform: translate3d(25px,0,0) skew(-20deg);
  }
}

#canvas3 {
  transform: rotate(25deg);
  opacity: 0;
  //animation: 3s ease-out spin infinite;
}

#canvas6 {
  transform: scale3d(1.2,1.2,1.2);
  opacity: 0;
}

@for $i from 2 through 10 {
  #canvas#{$i} {
    z-index: $i;
  }
}

.hidden {
  opacity: 0;
  transform: rotate(-25deg);
}

svg {
  height: 50px;
  width: 50px;
  position: absolute;
  left: -50px;
  z-index: 10;
  > * {
    stroke-width: 1.5;
  }
  g {
    > * {
      stroke-width: 1.5;
    }
  }
}
.miniCircle {
  svg {
    opacity: 0;
    transform: translate3d(-50%,-50%,0) scale3d(1.2,1.2,1.2);
    &[data-index="1"] {
      transform: translate3d(-50%,-50%,0) rotate(-115deg) scale(1.2);
    }
    &[data-index="2"] {
      transform: translate3d(-50%,-50%,0) rotate(-45deg) scale(1.2);
    }
  }
}